:root {
  --blue: #60A5FA;
  /* --lightblue: #BFDBFE; */
  --extralight: #DBEAFE;
}

@font-face {
  font-family: Roboto;
  src: url(./fonts/Roboto-Regular.ttf);
}

* {
  font-family: Roboto, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
}

img {
  height: 30px;
  width: 30px;
}
 

.container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  min-height: 100vh;
}



.sidebar {
  grid-row: 1 / 3;
  display: grid;
  grid-template-rows: 1fr 4fr 8fr;
  background-color: var(--blue);
  color: white;
}

.sidebar img {
  filter: 
    invert(100%) sepia(100%) 
    saturate(20%) hue-rotate(325deg) 
    brightness(104%) contrast(106%);
}

.sidebar ul {
  display: grid;
  gap: 10px;
  padding-top: 20px;
}

.sidebar li,
.sidebar h1 {
  display: flex;
  gap: 10px;
  padding: 5px 20px;
  list-style-type: none;
  align-items: center;
}

.sidebar img {
  display: flex;
  align-items: center;
}



.header {
  display: grid;
  grid-template-columns: 2fr 1fr;
  padding: 2em 2em;
  gap: 2em;
  background-color: white;
}

.user-info {
  display: flex;
  align-items: center;
  gap: 10px;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.buttons button {
  font-size: 1.4rem;
  padding: 0.9rem 2.7rem;
  background-color: var(--blue);
  color: white;
  border: none;
  border-radius: 1.5em;
}

.search {
  display: flex;
  align-items: center;
  gap: 5px;
}

.search input {
  width: 700px;
  height: 25px;
  background-color: var(--extralight);
  border: none;
  border-radius: 1em;
  padding: 15px;
}

.search button {
  border: none;
  background: none;
}

.top-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}



.main-content {
  display: grid;
  grid-template-columns: 3fr 1fr;
  background-color: var(--extralight);
  box-shadow: 0px -4px 5px lightgray;
}

.projects {
  padding: 2rem;
  grid-row: 1 / 3;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 2rem;
  padding-top: 1rem;
}

.card {
  display: grid;
  gap: 1em;
  padding: 30px;
  background-color: white;
  border-radius: 0.7rem;
  border-left: 5px solid rgb(247, 194, 81);
  box-shadow: 6px 6px 5px lightgray;
}

.card > p {
  padding-right: 120px;
  padding-bottom: 60px;
}

.card > span {
  justify-self: end;
  display: flex;
  gap: 2rem;
}


.announcements {
  padding: 2rem;
}

.announcements > div {
  padding-top: 1rem;
}

.announcement-cards {
  display: grid;
  gap: 2em;
  background-color: white;
  padding: 30px;
  border-radius: 0.7em;
  box-shadow: 6px 6px 5px lightgray;
}


.announcement-cards div:nth-child(2) {
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgrey;
}

.announcement-cards > div {
  padding: 0.5rem;
}

.announcement-cards > div:nth-child(2) {
  padding-top: 1em;
  padding-bottom: 1em;
}

.announcement-cards div p {
  word-break: break-all;
  white-space: normal;
  padding: 0.4em 0;
}



.trending {
  padding: 0 2rem;
}

.trending > div {
  padding-top: 1rem;
}

.trending-accounts {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 1em;
  padding: 2em;
  gap: 1rem;
  box-shadow: 6px 6px 5px lightgray;
}

.trending-accounts > div {
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.lightgray {
  color: rgb(133, 133, 133);
}


